body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

*{
    box-sizing: border-box;
    user-select: none;
}

#meow {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: indianred;
}