body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

*{
    box-sizing: border-box;
    user-select: none;
}

#meow {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: indianred;
}

#myCanvas {
    width: 100vw;
    height: 100vh;

}

#pointHolder{
    width: 100vw;
    height: 15vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 10rem;
    font-family: "lores-28", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: yellow;
}