body {
    padding: 0;
    margin: 0;
    height: 100vh;
    cursor: url(images/redCro.png), default;
}

*{
    box-sizing: border-box;
    user-select: none;
}

#meow {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #050505;
}

#myCanvas {
    width: 100vw;
    height: 100vh;
}

#pointHolder{
    width: 100vw;
    height: 15vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 10rem;
    font-family: "lores-28", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: yellow;
}

#buttonHolder{
    width: 15vw;
    height: 30vh;
    position: absolute;
    right: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
}

#buttonHolder div{
    background-color: #ffffb3;
    width: 100%;
    height: 6vh;
    text-align: center;
    line-height: 6vh;
    border-radius: 0.3vw;
    font-size: 3vw;
    font-family: "lores-28", sans-serif;
    font-weight: 400;
    font-style: normal;
}